body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
  --nav-height: 160px;
  font-family: "Comfortaa", cursive;
}

@import "util/media";
@import "util/variables";
@import "util/animations";

.header {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  z-index: 1000;
  position: fixed;

  .header-top {
    z-index: 1001;
    width: 100%;
    display: flex;
    &__button {
      z-index: 1003;
      cursor: pointer;
      border: none;
      background: none;
      .fa-solid {
        color: #fff;
        padding: 0.5rem 2rem;
        font-size: 4rem;
        border-radius: 8px;
      }
    }
    &__logo {
      h1 {
        color: #fff;
        font-family: "Tangerine", cursive;
      }
    }
  }
  .nav {
    // position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    .desktop-menu {
      justify-content: center;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
          padding: 1.5rem 1rem;
          a {
            color: #fff;
            padding: 2rem 3rem;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 2rem;
          }
        }
        li:hover {
          border-radius: 8px;
          outline: 1px solid rgb(206, 206, 206);
        }
        li:active {
          transform: translateY(2px);
        }
      }
    }
    .mobile-menu {
      display: none;
      height: 100vh;
      top: 0;

      overflow-y: hidden;
      backdrop-filter: blur(100px);
      background-color: rgba(0, 0, 0, 0.381);
      position: fixed;
      z-index: 1000;
      width: 100%;
      justify-content: center;
      align-items: center;
      ul {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
          padding: 1.5rem;
          a {
            letter-spacing: 1px;
            transition: 0.3s ease-in-out;
            padding: 1rem 5rem;
            color: #fff;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 2rem;
          }
        }
        li:hover {
          font-weight: 700;
          border-bottom: 1px solid rgb(206, 206, 206);
        }
      }
    }
  }
}

//main

.home {
  position: sticky;
  z-index: 0;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-image: url("/src/img/denys-nevozhai-z0nVqfrOqWA-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;

  max-width: 992px;
  width: 90%;
  height: 100vh;
  &__content {
    height: 90%;
    transition: 0.5s ease-in;

    display: flex;
    width: 100%;
    flex-direction: column;

    color: #fff;
    h1 {
      padding: 2rem 0;
      font-size: 4rem;
    }
    p {
      line-height: 3.2rem;
      letter-spacing: 1px;
      font-size: 1.6rem;
    }
    .read-more {
      margin-top: 5rem;
    }
  }
}
//
.destination {
  box-shadow: 0px -9px 24px 0px rgb(27, 27, 27);
  // border-top: 3px dotted #fff;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  width: 100%;
  // z-index: 100000;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.712);
  &__header {
    padding: 3rem;
    h2 {
      font-size: 3rem;
      text-align: center;
      color: #fff;
      padding: 3rem 2rem;
    }
  }
  .cards-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    .place-card {
      cursor: pointer;
      z-index: 1;

      perspective: 1000px;
      .card-img {
        position: relative;
        border-radius: 8px;
        display: flex;
        z-index: 0;
        justify-content: center;
        align-items: center;
        // border: 2px solid #fff;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        transition: transform 1s, opacity 1s;
        h1 {
          font-size: 3rem;
          text-transform: uppercase;
          color: #fff;
        }
      }
      .card-info {
        text-align: center;
        padding: 3rem;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: rotatex(180deg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: space-between;
        align-items: center;

        opacity: 0;
        transition: transform 1s, opacity 1s;
        h1 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.6rem;
        }
        .card-button {
          cursor: pointer;
          right: 0;
          background-color: rgba(161, 86, 16, 0.445);
          padding: 0.5rem 2rem;
          border-radius: 8px;
          border: 1px solid gray;
        }
      }

      &:hover {
        .card-img {
          transform: rotatex(-180deg);
          opacity: 0;
        }

        .card-info {
          transform: rotatex(0);
          opacity: 1;
        }
      }
    }

    .one {
      background-image: url("/src/img/ione.jpg");
    }
    .two {
      background-image: url("/src/img/dubai.jpg");
    }
    .three {
      background-image: url("/src/img/kanada.jpg");
    }
    .four {
      background-image: url("/src/img/romania.jpg");
    }
  }
}
